@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile'), url('eurostile.woff') format('woff');
}
::selection {
    color: white;
    background: #003C71;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-button {
    background: #222;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
  ::-webkit-scrollbar-track {
    background: #000
  }
  ::-webkit-scrollbar-track-piece {
    background: #000
  }
  ::-webkit-scrollbar-corner {
    background: #999
  }
  ::-webkit-resizer{
    background: #111
  }
* {

    font-family: Eurostile,Arial,sans-serif;
    font-size: 1em;

}
.elevation-3 {

  box-shadow: none !important;
}

.layout-navbar-fixed .wrapper .sidebar-dark-lightblue .brand-link:not([class*=navbar]) {
    background: #001f3f;
}/*
[class*=sidebar-dark-] {

    background: #001f3f;
}
[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #0a0a0a    ;
}*/

.card-poste {
 background-image: -webkit-linear-gradient(0,#003c71,#005cae,#003c71);
 color: #f4cc3a !important;
}

.mat {
 background-image: -webkit-linear-gradient(0,#003c71,#005cae,#003c71);
 color: white;
}
